h1 {
  text-align: center;
}

.first {
  border: solid;
  padding: 40px 20px;
  background-color: bisque;
}

.second {
  border: solid black;
  padding: 50px;
  background-color: palevioletred;
  color: white;
  text-align: center;
}